
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto:500');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto:700');

$titulos: 'Fjalla One', sans-serif;
$textos: 'Roboto', sans-serif;

$principal:#777777;
$claro: #b2b2b2;